version: '3'
services:

  web:
    build:
      context: ./configs
      dockerfile: nginx.dockerfile
    ports:
      - 80:80
    links:
      - php
      - mysql
    volumes:
      - ./www:/var/www

  php:
    build:
      context: ./configs
      dockerfile: php.dockerfile
    working_dir: /var/www
    volumes:
      - ./www:/var/www

  mysql:
    image: mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
    
